body {
    background: rgb(0, 0, 0);
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(254, 130, 215);
}
h2 {
    color:rgb(254, 130, 215);
    display:block;
    text-align: center;
}
