body {
    background: rgb(0, 0, 0);
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(254, 130, 215);
}
h2 {
    color:rgb(254, 130, 215);
    font-family: 'Courier New', Courier, monospace;
}

div#intro {
    margin-left: 20%;
    margin-top: 15%;
}
#headshot {
    max-width: 200px;
    margin-left: 50%;
    margin-top: 130%;
}
.main {
    display: flex;
}
